[submodule "DIO_HTML_desafio"]
	path = DIO_HTML_desafio
	url = https://github.com/Ivan-Duarte/DIO_HTML_desafio_01.git
[submodule "desafios/desafio_01"]
	path = desafios/desafio_01
	url = https://github.com/Ivan-Duarte/DIO_HTML_desafio_01.git
